lib/squaresTests
mapTest
mapTest.c
searches/naive_search
searches/naive_search2
searches/naive_search_normalized
searches/basic_latin
searches/row_complete
searches/orthogonal
searches/cyclic_rows
searches/cyclic_even
searches/cyclic_odd
searches/dihedral_search
searches/generating_arrays
searches/row_complete_orthogonal_check
searches/row_complete_shuffle_symmetry_orthogonal_check
searches/row_complete_full_symmetry_orthogonal_check
searches/iwanless_rows
searches/L_R
deploy
todo.org